@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow($shadow) {
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -khtml-box-shadow: $shadow;
  box-shadow: $shadow;
}
@mixin opacity($opacity) {
  opacity: $opacity;
}
@mixin text-shadow($shadow) {
  -moz-text-shadow: $shadow;
  -webkit-text-shadow: $shadow;
  -khtml-text-shadow: $shadow;
  text-shadow: $shadow;
}
@mixin transition($transition) {
  -webkit-transition: all $transition;
  -moz-transition: all $transition;
  -o-transition: all $transition;
  transition: all $transition;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 575px) { @content; }
  }

  @else if $class == xs-sm {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == xs-md {
    @media (max-width: 1199px) { @content; }
  }

  @else if $class == xs-lg {
    @media (max-width: 1439px) { @content; }
  }

  @else if $class == sm {
    @media (min-width: 576px) and (max-width: 767px) { @content; }
  }

  @else if $class == sm-md {
    @media (min-width: 576px) and (max-width: 1199px)  { @content; }
  }

  @else if $class == sm-xl {
    @media (min-width: 576px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 768px) and (max-width: 1199px)  { @content; }
  }

  @else if $class == md-xl {
    @media (min-width: 768px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1200px) and (max-width: 1489px)  { @content; }
  }

  @else if $class == xl {
    @media (min-width: 1490px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg, xl";
  }
}
